<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/nagar/IdeaProjects/AppiumFrameDesign/src/test/java/FrameworkDesign/ClickOpenTest.java">
        <classes>
            <class name="FrameworkDesign.ClickOpenTest">
                <methods>
                    <include name="AppiumTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>