<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" thread-count="2" name="All Test Suite">
    <test name="RealDevice">
        <parameter name="deviceName" value="Galaxy A30s"></parameter>
        <parameter name="udid" value="RZ8MC09NLNK"></parameter>
        <parameter name="platformVersion" value="11"></parameter>
        <parameter name="portNumber" value="4723"></parameter>
        <classes>
            <class name="FrameworkDesign.ClickOpenTest">
            </class>
        </classes>
    </test>
    <test name="emulator">
        <parameter name="deviceName" value="emulator"></parameter>
        <parameter name="udid" value="emulator-5554"></parameter>
        <parameter name="platformVersion" value="11"></parameter>
        <parameter name="portNumber" value="5000"></parameter>
        <classes>
            <class name="FrameworkDesign.ClickOpenTest">
            </class>
        </classes>
    </test>
</suite>